

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.brand img {
  height: 1em;
}

.product {
  margin-bottom: 5em;
}

.footer {
  background-color: rgb(255, 231, 231);
  padding: 30px 0;
  width: 100%;"
}













