

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.brand img {
  height: 1em;
}

.product {
  margin-bottom: 5em;
}

.herocontainer {
  background-color: rgb(255, 231, 231);
  padding-top: 20px;
}

footer {
  color: rgb(255, 255, 255);
  background-color: rgb(27, 27, 27);
  padding: 30px 0;
  font-family: 'Open Sans', arial, sans-serif;
}

footer .social-icon {
  font-size: 26px;
  background: #FFFFFF;
  line-height: 30px;
  padding: 5px 13px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-right: 8px;
  transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  color: #333333;
  text-decoration: none;
}

footer .mentions {
  text-align: center;
}

body {
  padding-top: 40px;
  padding-bottom: 0;
}












